* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto Slab", serif;
}

h2,
h1 {
  font-family: "Philosopher", sans-serif;
  letter-spacing: 1pt;
}

a {
  text-decoration: none;
  color: white;
}

input:focus {
  outline: none;
}

input:required {
  outline: none;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

:root {
  /* --background: rgb(22, 22, 22); */
  /* --background: rgb(17, 57, 69); */
  --background: #434343;
  /* darkseagreen #243030 #DECBA4 #434343*/ 
  --primary: #55B5AC; 
  --secondary: #7e9de6;
}

body {
  max-width: 1499px;
  margin: auto;
  overflow-x: hidden;
  position: relative;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
}
