.contactForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    width: 100%;
}

.contactForm > h1 {
    font-size: 1.2em;
    padding: 0.5em;
    text-align: left;
    font-family: serif;
    font-weight: 400;
    letter-spacing: 2pt;
    color: rgb(172, 172, 172);
    border-radius: 0.3em;
    width: 100%;
}

.contactForm > input, textarea {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 1em;
    border-radius: 0.2em;
    border: none;
    color: white;
    background-color: rgb(41, 41, 41);
    letter-spacing: 0.1em;
    transition: all 0.3s linear;
    font-family: 'Roboto Slab';
    box-shadow: 1px 1px 1px 1px rgb(115, 115, 115);
}

.contactForm > input::placeholder, textarea::placeholder {
    color: rgb(232, 232, 232);
}

.contactForm > input:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid orange;
}

.contactForm > input.submitform {
    -webkit-appearance: none;
    min-height: 2em;
    font-weight: normal;
    color: var(--primary);
    box-shadow: none;
    transition: all 0.3s linear;
    border-radius: 0.5em;
    border: 1px solid transparent;
}

.contactForm > input.submitform:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
    cursor: pointer;
}

.contactForm > input.clearform {
    -webkit-appearance: none;
    min-height: 2em;
    font-weight: normal;
    color: lightgrey;
    box-shadow: none;
    transition: all 0.3s linear;
    border-radius: 0.5em;
}

.contactForm > input.clearform:hover {
    background-color: gray;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .contactForm > h1 {
        font-size: 1em; 
    }
}
