.closingBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    padding-bottom: 0.5em;
    background-color:  rgb(131, 74, 74);
}

.about {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.about > h1 {
    color: white;
    font-size: 1.5em;
    letter-spacing: 2pt;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    width: 60%;
    text-align: left;
    margin-bottom: 2vh;
    border-top: 1px solid rgb(160, 160, 160);
}

.about > .about-info {
    color: white;
    width: 50%;
    text-align: right;
    font-size: 1em;
    letter-spacing: 1pt;
    font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 600px) {
    .about > h1 {
        width: 100%;
    }
    .about > .about-info {
        width: 100%;
    }
}


footer {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0.5em;
    color: rgb(160, 160, 160);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    background-color: var(--themeColor);
    padding-bottom: 1.5em;
    margin-top: 2em;
    border-top: 1px solid rgb(160, 160, 160);
}
