.main-quick-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
}

.main-quick-icons > a > li {
    list-style: none;
    width: 4em;
}

.main-quick-icons > a > li > img {
    width: 80%;
    border: 3px solid transparent;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.main-quick-icons > a:hover > li > img {
    border-color: var(--themeColor);
}

@media only screen and (max-width: 800px) {
    .main-quick-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-top: 5vh;
    }
}