#limitedContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 1em;
    padding: 0.5em;
    transition: all 0.2s ease-in-out;
}

#limitedContent:hover {
    cursor: pointer;
    background-color: rgb(36, 34, 34);
}

#limitedContent:hover .limitedContent-image{
    opacity: 0.9;
}

.limitedContent-image {
    width: 20%;
    opacity: 0.7;
}

.limitedContent-image > img {
    width: 90%;
    object-fit: cover;
    border-radius: 1em;
}

.limitedContent-desc {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: "Roboto Slab", serif;
    width: 80%;
}

.limitedContent-heading {
    color: lightcoral;
    letter-spacing: 0.2em;
    text-align: left;
    word-wrap: normal;
}

.limitedContent-overview {
    font-size: 1em;
    letter-spacing: 0.1em;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    #limitedContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 2em;
        padding: 1em;
    }
    
    .limitedContent-image {
        width: 100%;
    }

    .limitedContent-image:hover {
        width: 100%;
    }

    .limitedContent-image > img {
        width: 100%;
    }

    .limitedContent-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Roboto Slab", serif;
        width: 100%;
    }
}