* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto Slab", serif;
}

h2,
h1 {
  font-family: "Philosopher", sans-serif;
  letter-spacing: 1pt;
}

a {
  text-decoration: none;
  color: white;
}

input:focus {
  outline: none;
}

input:required {
  outline: none;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

:root {
  --background: rgb(22, 22, 22);
  --themeColor: darkseagreen;
  --highlightColor: rgb(131, 74, 74);
}

body {
  max-width: 1499px;
  margin: auto;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background);
  background-image: url(../resources/images/background.png);
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
}
